h1 {
    text-align: center;
}

.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border-radius: 8%;
}

.card.correct {
    curser: default;
}

.card.correct:hover {
    curser: default;
    box-shadow: none;
}

.button-container {
    text-align: center;
}

.card:hover {
    background-color: gray;
}

.one {
    background-color: black;
}

.two {
    background-color: aqua;
}

.three {
    background-color: burlywood;
}

.four {
    background-color: darkgreen;
}

.five {
    background-color: midnightblue;
}

.six {
    background-color: darkorange;
}

.seven {
    background-color: brown;
}

.eight {
    background-color:yellow;
}

.color-hidden {
    background-color: darkslategray;
}